.FolderList
{
    border: 1px solid black;
    height:300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.ListOfFolders
{
    height: 75%;
    overflow-y: scroll;
}
.Title
{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.item
{
    background-color: white;
    padding: 5px;
}
.item:hover
{
    background-color: #eeeeee;
    cursor: pointer;
}
.itemSelected
{
    background-color: #6200EE;
    color: white;
}
.FolderLogo
{
    margin-right: 3px;
}