<div class="col s12 FolderList">
    <span class="Title">List of Folders</span>
  <br><br>
  <div class="col s12 ListOfFolders">
    <ul class="Folders">
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
      <li class="item valign-wrapper"> <i class="material-icons FolderLogo">folder</i> Folder </li>
    </ul>
  </div>
</div>