.ComponentMenu
{
    border: 1px solid black;
    padding: 10px;
    margin-right: 0px;
}
.Title
{
    font-size: 1.5rem;
    margin-bottom: 5px
}
.Component
{
    margin-top: 8px;
    margin-bottom: 8px;
}
.Component:hover
{
    background-color: #E0E0E0;
    cursor: pointer;
}