<!--Section Top Menu Bar-->
<div class="row col s12 TopMenu" style="margin-bottom: 0px;">

  <!--Logo Section-->
  <div class="col s4 valign-wrapper">
    <div class="col s4 center-align">
      <img src="../../assets/logo.png" width="65" height="65"/>
    </div>
    <div class="col s8">
        <div class="col s12">
          <span class="truncate">Current card</span>
        </div>
        <div class="col s12">
          <span class="truncate">Current page</span>
        </div>
    </div>
  </div>

  <!--Page Menu Section-->
  <div class="col s8">
    <div class="col s6 right CardMenu">
      <div class="col s4">
        New Card
      </div>
      <div class="col s4">
        Open Card
      </div>
      <div class="col s4">
        Remove Card
      </div>
    </div>
  </div>

  <!-- Card Menu Section-->
  <div class="row col s12 PageMenu">
    <div class="col s1 MenuButton">
      New Page
    </div>
    <div class="col s1 MenuButton">
      Open Page
    </div>
    <div class="col s1 MenuButton">
      Remove Page
    </div>
  </div>
</div>