.FolderList
{
    border: 1px solid black;
    padding-top: 20px;
    height: 450px;
    padding-bottom: 20px;
    background-color: white;
}
.ListOfFolders
{
    height: 85%;
    overflow-y: scroll;
}
.Title
{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.item
{
    background-color: white;
    padding: 5px;
}
.item:hover
{
    background-color: #eeeeee;
    color: var(--lan-text-primary);
    cursor: pointer;
}
.itemSelected
{
    background-color: #eca12a;
    color: white;
}
.FolderLogo
{
    margin-right: 3px;
}
.deleteIcon
{
    margin-left: auto;
    margin-right: 0px;
}
.deleteIcon:hover
{
    border: 0.5px solid grey;
}