<div class="row" style="background-color: var(--lan-text-primary); color: var(--lan-bg-0); padding-left: 10px;">
  <div class="d-flex justify-content-between">
    <div class="align-self-center">
      <span class="material-icons inline-icon">folder</span>{{datastoreService.CurrentFolder}}<span class="material-icons inline-icon" style="margin-left: 10px;">chevron_right</span><span class="material-icons inline-icon">article</span>{{datastoreService.CurrentPage}}
    </div>
    <div class="lan-text-avatar-box">
      <div  id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="left: 50%;position: absolute;top: 50%;transform: translate(-50%, -50%);">
        SK
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>
</div>