<!--Section Top Menu Bar-->
<div class="row col s12 TopMenu" style="margin-bottom: 0px;">

  <!--Logo Section-->
  <div class="col s4 valign-wrapper">
    <div class="col s4 center-align">
      <img src="../../assets/logoDesign.png" width="65" height="65" style="padding:0px"/>
    </div>
    <div class="col s8">
        <div class="col s12">
          <span class="truncate">{{datastoreService.CurrentFolder}}</span>
        </div>
        <div class="col s12">
          <span class="truncate">{{datastoreService.CurrentPage}}</span>
        </div>
    </div>
  </div>

  <!--Folder Menu Section-->
  <div class="col s8">
    <div class="col s6 right CardMenu">
      <div class="col s4" (click)="newFolderClick()">
        New Folder
      </div>
      <div class="col s4" (click)="openFolderClick()">
        Open Folder
      </div>
      <div class="col s4">
        Remove Folder
      </div>
    </div>
  </div>

  <!-- Page Menu Section-->
  <div class="row col s12 PageMenu">
    <div class="col s1 MenuButton" (click)="newPageClick()">
      New Page
    </div>
    <div class="col s1 MenuButton" (click)="openPageClick()">
      Open Page
    </div>
    <div class="col s1 MenuButton"  (click)="removePageClick()">
      Remove Page
    </div>
  </div>
</div>