.PageList
{
    border: 1px solid black;
    height:450px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ListOfPages
{
    height: 85%;
    overflow-y: scroll;
}
.Title
{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.item
{
    background-color: white;
}
.item:hover
{
    background-color: #eeeeee;
    cursor: pointer;
}
.PageLogo
{
    margin-right: 3px;
}


/* Scrollbar */
::-webkit-scrollbar
{
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb
{
    background: #888888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #555555;
}
