<div class="row col s2 PageList">
  <span class="Title">List of Pages</span>
  <br><br>
  <div class="col s12 ListOfPages">
    <ul class="Pages">
      <li class="item valign-wrapper" *ngFor = "let page of this.datastoreService.PageList"  (click) = "onSelected(page)" [class.itemSelected] = "page === datastoreService.CurrentPage">  
        <i class="material-icons tiny PageLogo">content_copy</i>{{page}}<i class="material-icons PageLogo tiny deleteIcon" (click)=onDelete(page)>cancel</i>
      </li>
    </ul>
  </div>
</div>