
.item
{
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.item:hover
{
    background-color: #eeeeee;
    color: var(--lan-text-primary);
    cursor: pointer;
}
.itemSelected
{
    background-color: #e145a4;
    color: white;
}