.Lan-Editor-Ico {
    height: 12px;
    width: 12px;
  }
  
  .EditorPanal 
  {
    height: auto;
    padding: 10px;
    margin: 5px !important;
    z-index: -1;
  }
  
  .EditorPage {
    border: 0.1px solid var(--lan-text-subsecondry);
    height: 100%;
    margin-bottom: 0px;
  }

  .Box {
    font-size: 13px;
    padding: 10px;
    color:var(--lan-color);
  }
  .Component {
    border: none;
    justify-content: center;
    padding: 5px;
    max-height: 30px;
    background-color: white;
    margin: 1px;
    border: 0.2px solid transparent;
  }
  .Component-Hidden
  {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
  .Component:hover {
    outline: 0;
    border: 0.2px solid var(--lan-text-subsecondry); /* here configure as your needs */
    margin: 1px !important;
    cursor:pointer;
  }
  .Component:focus {
    outline: 0;
    border: 0.2px solid var(--lan-text-subsecondry); /* here configure as your needs */
    margin: 1px !important;
  }
  .ComponentMenu {
    margin-bottom: 5px;
  }
  .Component-Right
  {
    float:right;
  }
  [contenteditable] {
    outline: 0px solid transparent;
  }
  .PlaceholderText
  {
    font-size:12px;
    font-family: var(--lan-default-font);
  }
  .Theme-Icon
  {
    fill: var(--lan-theme-color);
  }